---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tampon Web Conception - A propos">
	<section class="flex justify-center ">
		<div class="w-3/4 mt-8">
			<div class="w-full">
				<h2 class="text-xl font-sans font-bold">A propos</h2>
			</div>
			Bienvenue chez Tampon Web Conception, votre partenaire pour la création de sites internet sur mesure. Nous sommes spécialisés dans le développement de sites modernes et optimisés pour répondre aux besoins des entreprises de tous secteurs.

Avec une expertise de 15 ans dans le domaine et une approche basée sur l'écoute et l'adaptation, notre mission est de rendre chaque projet unique et fonctionnel. En choisissant Tampon Web Conception, vous optez pour un accompagnement personnalisé, des solutions innovantes et une rigueur technique à chaque étape de votre projet.
		</div>
	</section>
</Layout>