---

import Layout from "../layouts/Layout.astro"
import ContactForm from "../components/ContactForm";

---

<Layout title="Tampon Web Conception - Contact">
		<section class="flex-grow flex justify-center items-center">
			
			<div class="w-8/12">
				<h2 class="text-center text-6xl font-sans font-bold">Discutons de votre <span class="bg-gradient-to-bl from-primary-light to-secondary-dark text-transparent bg-clip-text">projet !</span></h2>
				<div class="mt-8"><ContactForm client:visible /></div>
			</div>
		</section>
</Layout>