---

import Layout from "../layouts/Layout.astro"
import ContactForm from "../components/ContactForm";

---

<Layout title="Tampon Web Conception - Contact">
		<section class="flex justify-center ">
			<div class="w-3/4 mt-8">
				<div class="w-full">
					<ContactForm client:visible/>
				</div>
			</div>
		</section>
</Layout>