---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tampon Web Conception - A propos">
	<section class="flex justify-center ">
		<div class="w-3/4 mt-8">
			<div class="w-full">
				<h1 class="text-8xl font-sans font-bold">Nos forfaits</h1>
			</div>
		</div>
	</section>
</Layout>