---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tampon Web Conception - A propos">
	<section class="flex justify-center ">
		<div class="w-3/4 mt-8">
			<div class="w-full">
				<h2 class="text-xl font-sans font-bold">Mentions légales</h2>
			</div>
			Éditeur du site

Nom : Tampon Web Conception
Responsable de la publication : [Nom du gérant]
Adresse : [Votre adresse complète]
Contact : [Email et téléphone]
Hébergement

Le site est hébergé par [Nom de l’hébergeur]
Adresse : [Adresse de l'hébergeur]
Contact : [Email et téléphone de l'hébergeur]
Propriété intellectuelle

Tous les contenus présents sur ce site sont protégés par les lois sur la propriété intellectuelle et restent la propriété de Tampon Web Conception.
Données personnelles

Les données collectées sur le site ne sont utilisées qu'à des fins de contact ou de devis. Tampon Web Conception s’engage à ne jamais transmettre ces données à des tiers.
Cookies

Le site utilise des cookies pour améliorer l'expérience utilisateur et analyser la navigation. Vous pouvez gérer les cookies dans les paramètres de votre navigateur.
		</div>
	</section>
</Layout>