---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tampon Web Conception - A propos">
	<section class="flex justify-center ">
		<div class="w-3/4 mt-8">
			<div class="w-full">
				<h2 class="text-xl font-sans font-bold">Mentions légales</h2>
			</div>
		</div>
	</section>
</Layout>