---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tampon Web Conception - Prestations">
	<div class="flex justify-center">
		<h1 class="text-4xl font-sans font-bold">Nos prestations</h1>
	</div>
	
	<section class="p-8 mt-8">
        <div class="max-w-4xl mx-auto">
            <p>Chez Tampon Web Conception, nous créons des sites internet sur mesure, adaptés aux besoins uniques de chaque client, avec un souci constant de la qualité et de la personnalisation. Chaque projet est conçu pour refléter votre identité et garantir une expérience utilisateur optimale, grâce à des solutions innovantes et un accompagnement personnalisé à chaque étape.</p>
        </div>
	</section>
	<section id="vitrine" class="bg-primary-dark bg-opacity-20 p-4 mt-8">
		<div class="max-w-4xl mx-auto">
        <h2>Vitrine : site de présentation</h2>
		<p>
            Conception de sites vitrines sur mesure pour présenter votre entreprise, avec une navigation fluide et un design adapté à votre identité visuelle.
        </p>
        <p>Livraison : Site responsive, optimisé pour le SEO et facile à gérer.</p>
        </div>
	</section>
	<section id="pro" class="bg-primary-dark bg-opacity-20 p-4 mt-8">
        <div class="max-w-4xl mx-auto">
		<h2>Pro : Site complet</h2>
        <p>Mise en place de solutions e-commerce sécurisées et adaptées pour vendre vos produits en ligne. Intégration des moyens de paiement, gestion des stocks, et personnalisation des pages produit.</p>
        <p>Livraison : Site e-commerce complet, intégration des fonctionnalités clés (panier, paiement, gestion des commandes).</p>
        </div>
	</section>
	<section id="refonte" class="bg-primary-dark bg-opacity-20 p-4 mt-8">
        <div class="max-w-4xl mx-auto">
		<h2>Refonte : reprise d'un site existant</h2>
        <p>
            Amélioration ou refonte complète de votre site existant pour optimiser l'expérience utilisateur et l’adapter aux nouvelles normes du web.
        </p>
        <p>Site modernisé avec amélioration de la performance et du design.
        </p>
        </div>
	</section>
    <section id="premium" class="bg-primary-dark bg-opacity-20 p-4 mt-8">
        <div class="max-w-4xl mx-auto">
		<h2>Site Premium : solution sur mesure</h2>
        <p>
            
        </p>
        <p>Site modernisé avec amélioration de la performance et du design.
        </p>
        </div>
	</section>
</Layout>