---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tampon Web Conception - A propos">
	<div class="flex-grow sm:mx-16 sm:p-12 bg-white bg-opacity-20 backdrop-blur rounded-lg shadow-lg">
		<div class="flex justify-center text-center mt-44">
			<div>
				<h1 class="bg-gradient-to-bl from-primary-light to-secondary-dark text-transparent bg-clip-text text-6xl font-righteous font-bold tracking-widest">Tarifs</h1>
				<h2 class="mt-4">Pour chaque projet une offre adaptée à votre besoin.</h2>
			</div>
		</div>
	
		<h4>Site Vitrine</h4>

		<h4>Pack Essentiel : À partir de 800€</h4>
		<p>Conception d'un site de 3 pages, incluant la page d’accueil, une page de présentation et une page de contact.</p>

		<h4>Pack Avancé : À partir de 1200€</h4>
		<p>Site de 5 pages avec des fonctionnalités supplémentaires, comme un blog ou une galerie photo.</p>
		
		Site e-commerce
		
		Pack Basique : À partir de 1500€
		Site complet pour la vente en ligne, incluant le catalogue produits, gestion du panier et paiement sécurisé.

		Pack Pro : À partir de 2500€
		Inclut des options avancées (intégration d'outils marketing, gestion de stock, rapports de ventes).
		Refonte de site
		
		Refonte légère : À partir de 600€
		Refonte complète : À partir de 1200€

		<p>Pour chaque prestation, un devis personnalisé peut être établi.</p>
</div>
</Layout>