---
---

<footer class="text-left p-2 md:p-4">
    <div class="flex justify-center gap-4">
        <p class="font-righteous text-gray-600">&copy; 2024 Tampon Web Conception</p>
        <a href="/mentions-legales" class="text-gray-600 hover:text-primary">Mentions Légales</a>
    </div>
    <div class="absolute inset-x-0 bottom-0 -z-10 h-screen lg:bg-line-svg lg:bg-no-repeat opacity-20"></div>
</footer>