---
---

<footer class="text-left md:p-4">
    <div class="flex justify-center gap-4">
        <p class="font-righteous text-gray-600">&copy; 2024 Tampon Web Conception</p>
        <a href="/mentions-legales" class="text-gray-600">Mentions Légales</a>
    </div>
    <div class="fixed -z-10 inset-x-0 -bottom-20 h-3/5 lg:bg-line-svg lg:bg-no-repeat lg:bg-bottom opacity-80 dark:opacity-30"></div>
</footer>